<section class="content">
    <div class="hidden__form">
        <button id="hidden__join">Join us Now</button>
    </div>
    <div class="popup__centre">
        <div class="popup" id="myPopup"><a href="#" class="close"></a>

        </div>
    </div>
    <div class="overflow"></div>
    <div class="up__content">
        <div class="up__left">
            <h3 class="tile__left">Code this block</h3>
            <p class="up__text clear-fix"><span class="circle__photo"></span>
                This text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Harum itaque nam blanditiis eveniet enim eligendi quae adipisci?
                Assumenda blanditiis voluptas tempore porro quibusdam beatae deleniti quod asperiores
                sapiente dolorem error! Quo nam quasi soluta reprehenderit laudantium optio ipsam ducimus
                consequatur enim fuga quibusdam mollitia nesciunt modi.
                This text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Harum itaque nam blanditiis eveniet enim eligendi quae adipisci?
                Assumenda blanditiis voluptas tempore porro quibusdam beatae deleniti quod asperiores
                sapiente dolorem error!
            </p>
        </div>
        <div class="up__right clear-fix">
            <h3 class="title__right">Users List</h3>
            <div class="carousel">
                <div name="prev" class="arrow carousel-button-left"></div>
                <div class="carousel-wrapper">
                    <div class="carousel-items">
                        <div class="carousel-block carousel-block-one">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-two">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-three">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-four">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-five">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-six">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-seven">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                        <div class="carousel-block carousel-block-eight">
                            <p class="icon__block icon_text">Sexy Girl</p>
                            <a href="#" class="icon__block icon__block1"></a>
                            <a href="#" class="icon__block icon__block2"></a>
                        </div>
                    </div>
                </div>
                <div name="next" class="arrow carousel-button-right"></div>
            </div>
            <div class="tab__bar">
                <div class="menu1">
                    <br id="tab2"/>
                    <a href="#tab1" class="menu1__tab">Users List</a><a href="#tab2" class="menu1__tab menu1__tab-tab2">Active list tab<span class="grey"> | 38</span></a>
                    <div class="menu1__block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto commodi consequatur dignissimos, eos explicabo fugiat laboriosam provident!
                            Blanditiis delectus eligendi et fugit hic neque, nisi odio praesentium soluta voluptas
                            voluptates!
                        </p>
                    </div>
                    <div class="menu1__block clear-fix">
                        <div class="progress__left">
                            <div class="meter__box">
                                <div class="meter-wrapper">
                                    <div class="meter"><span style="width:35%"></span></div>
                                    <span class="progress" id="progress__font">0%</span>
                                </div>
                            </div>
                            <div class="nav">
                                <ul class="menu">
                                    <li class="menu__item menu__item-arrow menu__item-one"><a href="" class="menu__list">Step 1</a></li>
                                    <li class="menu__item menu__item-arrow menu__item-two"><a href="" class="menu__list">Step 2</a></li>
                                    <li class="menu__item menu__item-arrow menu__item-three"><a href="" class="menu__list">Step 3</a></li>
                                    <li class="menu__item menu__item-arrow menu__item-four"><a href="" class="menu__list">Step 4</a></li>
                                    <li class="menu__item menu__item-five"><a href="" class="menu__list">Step 5</a></li>
                                </ul>
                            </div>
                            <div class="volume">
                                <input type="range" min="0" max="100" value="0" id="volume__range">
                            </div>
                        </div>
                        <div class="progress__right">
                            <div class="circle__variant">
                                <label for="volume__range"></label>
                                <div id="diagram">
                                    <svg id="show" viewBox="0 0 100 100">
                                        <circle r="25" cx="50" cy="50" id="big" />
                                        <circle r="29" cx="50" cy="50" id="small"/>
                                    </svg>
                                    <output class="percent" id="percent__font" for="volume__range">0%</output>
                                </div>
                            </div>
                            <div class="star__rating" id="el"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="down__content ">
        <h3>How to succeed in online dating</h3>
        <div class="article">
            <div class="article__left">
                <p class="article__text article__text-left">The shape-outside property controls how content will wrap around a
                    floated element’s bounding-box. Typically this is so that text can
                    reflow over a shape such as a circle, ellipse or a polygon.
                    It’s important to note thatthis property will only work on floated elements for now,
                    although this is likely tochange in the future. The shape-outside property can also be
                    manipulated with transitions or animations.
                    The ellipse() function requires the radii values for the x, y axis of the ellipse followed
                    by the coordinates to position the center of the shape within its bounding box. For instance
                    the example above will position the center of the ellipse in the vertical and horizontal center
                    of the .element div.
                    At the demo above may suggest that we’re changing the shape of the div itself, if we add
                    borders and a background-image we’ll find that the bounding box is in fact still rectangular.
                    <blockquote>OpenType-SVG is a font format in which an OpenType font has all or just some of its glyphs
                    represented as SVG (scalable vector graphics) artwork. This allows the display of multiple colors
                    and gradients in a single glyph. Because of these features, we also refer to OpenType-SVG fonts as “color
                    fonts”.</blockquote>
                </p>
            </div>
            <div class="article__center">
                <p class="article__text article__text-center">
                    <blockquote>A CDN works by fetching static assets from your site's server and caching them on
                    their servers. When a browser makes a request to visit your site, the static contents are served
                    via the CDN rather than by your site. This is faster because the CDN servers are globally distributed
                    and serve as proxies that determine which server is located physically closest to your visitor,
                    thus delivering content on a speedier, more convenient network. Hence the full name: Content Delivery
                    Network.</blockquote>
                </p>
                <p class="article__text article__text-center">So, how does the browser know to get the resources from the CDN instead of your server?
                    The URL of your static resources are replaced to point to the CDN server instead of the URL of your
                    own site.
                    For example, say we want CDN to be configured as a subdomain. For <a href="https://css-tricks.com" class="tricks" target="_blank">CSS-Tricks</a>, that might be
                    something like cdn.css-tricks.com and that will be the relative URL for which we base all our assets.
                    Put more succinctly put, the URLs of assets on our site like this
                    What we're talking about instead is using the CDN as a virtual layer that stands between your server
                    and a user's browser. That virtual layer listens in on the request the browser is making to your
                    server and gladly responds with cached assets on behalf of the server.
                </p>
            </div>
            <div class="article__right">
                <p class="article__text article__text-right title">
                    Usually I think of new features on the web as a three way dance between:
                </p>
                <p class="title"><span class="number">1.</span><strong>Developers.</strong> They use the features.
                    They are the voice of what is wanted.
                    They are the measuring stick of what actually get used.
                </p>
                <p class="title"><span class="number">2.</span><strong>Browsers.</strong> They do the implementing
                    of features. They are the gatekeepers.
                    They have their own ideas on what is needed. They are businesses.
                </p>
                <p class="title"><span class="number">3.</span><strong>Specs.</strong> They document how features should work.
                    Browsers look to them to see how to implementfeatures, because the incentive is there to implement
                    features interoperability.
                </p>
                <blockquote  class="best__cite">
                    I'm not so sure. I see ideas that start as dogmatic claims spread. I've heard people regurgitate
                    a dogmatic statement years after I've felt like the industry had moved on. When you happen to agree
                    with them, they feel good. They feel powerful. They feel like something you want to get behind and
                    spread yourself.
                </blockquote>
                <a href="http://websketches.ru/plugins/select2" target="_blank" class="link__content">&#9654<span class="let"></span>Click her to view more</a>
            </div>
        </div>
    </div>
</section>