<section class="header">
    <div class="header__logo">
        <div class="header__logo-logo"></div>
    </div>
    <div class="header__content">
        <div class="header__list">
            <div class="header__pictures">
                <div class="pictures__buttons">
                    <a href="#" class="buttons__item buttons__item-one"></a><span class="btt"></span>
                    <a href="#" class="buttons__item buttons__item-two"></a><span class="btt"></span>
                    <a href="#" class="buttons__item buttons__item-three"></a><span class="btt"></span>
                    <a href="#" class="buttons__item buttons__item-four"></a><span class="btt"></span>
                </div>
            </div>
            <div class="header__form">
                <h2>Join us now. It's FREE</h2>
                <form action="" class="form">
                    <div class="gender">
                        <p class="iam">I am</p>
                        <div class="gender__box">
                            <div class="register__switch">
                                <input type="radio" name="sex" value="F" id="sex_f" class="register__input register__input-female" >
                                <label for="sex_f" class="register__label register__label-female"></label>
                                <input type="radio" name="sex" value="M" id="sex_m" class="register__input register__input-male" checked>
                                <label for="sex_m" class="register__label register__label-male"></label>
                            </div>
                            <p class="search clear-fix"><span class="lupe"></span>looking for</p>
                            <div class="register__switch">
                                <input type="checkbox" name="sex" value="F" id="sex_one" class="right__input right__input-one" checked>
                                <label for="sex_one" class="right__label right__label-one"></label>
                                <input type="checkbox" name="sex" value="M" id="sex_two" class="right__input right__input-two">
                                <label for="sex_two" class="right__label right__label-two"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form__name">
                        <p class="name__text">Name</p>
                        <div class="name__box">
                            <label for="you__name" class="name__label"></label>
                            <input type="text" id="you__name" name="name" placeholder="" required style="width: 100%"/>
                        </div>
                        <span class="name__range name__range-name"></span>
                        <span class="form__hint form__hint-name">Enter your name</span>
                    </div>
                    <div class="date">
                        <p class="age">Age</p>
                        <div class="age__box">
                            <label for="number" class="date__label"></label>
                                <select name="birthday" id="number" class="day" size="1"  style="width: 25%"   >
                                    <option value="Day">Day</option>
                                    <option class="day" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value=19"">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                        </select>

                            <label for="month" class="month__label"></label>
                                <select name="birthday" id="month" style="width: 40%">
                                    <option class="you__month" value="Month">Month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="	August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="	November">November</option>
                                    <option value="December">December</option>
                        </select>

                            <label for="year" class="year__label"></label>
                                <select name="birthday" id="year" style="width: 35%">
                                    <option class="you__year" value="Year">Year</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                        </select>

                            <span class="name__range name__range-date"></span>
                            <span class="form__hint"></span>
                        </div>
                    </div>
                    <div class="city">
                        <p class="city__home">City</p>
                        <div class="city__box">
                            <label for="you__city" class="city__label"></label>
                            <select name="city" id="you__city" class="city__select"  style="width: 100%">
                                <option value="London">London</option>
                                <option value="Paris">Paris</option>
                                <option value="New_York">New York</option>
                                <option value="Tokyo">Tokyo</option>
                                <option value="Los Angeles">Los Angeles</option>
                            </select>
                        </div>
                        <span class="name__range name__range-city"></span>
                    </div>
                    <div class="choice__button">
                        <div class="buttons__check">
                            <div class="check__one">
                                <input type="checkbox" name="iam" value="iam" id="check__item-one" class="check__item">
                                <label for="check__item-one">I'm cool</label>
                                <span></span>
                            </div>
                            <div class="check__two">
                                <input type="checkbox" name="life" value="life" id="check__item-two" class="check__item">
                                <label for="check__item-two">Life's good</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="buttons__radio">
                            <div class="radio__one">
                                <input type="radio" name="drink" id="radio__item-one" value="drink__tea" class="radio__item">
                                <label for="radio__item-one" class="label__radio">Tee</label>
                                <span></span>
                            </div>
                            <div class="radio__two">
                                <input type="radio" name="drink" id="radio__item-two" value="drink__beer" class="radio__item" checked>
                                <label for="radio__item-two" class="label__radio">Beer</label>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form__button">
                        <button class="start" id="start__font">Start Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>