@import "fonts";
@import "media";
@import "header";
@import "content";
@import "footer";
@import "mixins";
@import "media";
@import "popup";

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4e4e4e;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  max-width: 962px;
  min-height: 100%;
  margin: 0 auto;
}

.adaptive {
  margin: 0;
  padding: 0;
}

.box {
  max-width: 942px;
  min-height: 100%;
  margin: 0 auto;
}

input {
  outline: none;
}

